
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

@Ajax.ActionLink("GetTime", "GetTime", new AjaxOptions { UpdateTargetId="now" })


<div id="now"></div>

@Ajax.ActionLink("GetJson", "GetJson", new AjaxOptions { OnSuccess = "successGetJson", HttpMethod="Post" })

<script>
    function successGetJson(d) {
        console.log(d);
    }
</script>