@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>
<button id="getData" onclick="getData()">getData</button>
<script>
    function getData() {
 
            $.getJSON('/AR/JsonClients1', null, function (d) {

                console.log(d);

            });



    }
   
</script>